
@{
    ViewData["Title"] = "Index";
}

<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Checkout Part Start ======-->

<section class="checkout-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="checkout-form">
                    <form action="#">
                        <div class="billing-address mt-30">
                            <h4 class="allup-title">Billing Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Last  Name*</label>
                                        <input type="text" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Email Address*</label>
                                        <input type="text" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Phone no*</label>
                                        <input type="text" placeholder="Phone no">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Company Name</label>
                                        <input type="text" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Address</label>
                                        <input type="text" placeholder="Address Line 1">
                                        <input type="text" placeholder="Address Line 2">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Country</label>
                                        <select>
                                            <option value="">Bangedesh</option>
                                            <option value="">India</option>
                                            <option value="">Pakistan</option>
                                            <option value="">Nepal</option>
                                            <option value="">China</option>
                                            <option value="">Japan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Town/City*</label>
                                        <input type="text" placeholder="Town/City">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>State*</label>
                                        <input type="text" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Zip Code*</label>
                                        <input type="text" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-checkbox">
                            <ul>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="account">
                                        <label for="account"></label>
                                        <p>Create an Account? </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="address" data-shipping>
                                        <label for="address"></label>
                                        <p>Ship to Different Address </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div id="shipping-address" class="shipping-address mt-30">
                            <h4 class="allup-title">Shipping Address</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Last  Name*</label>
                                        <input type="text" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Email Address*</label>
                                        <input type="text" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Phone no*</label>
                                        <input type="text" placeholder="Phone no">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Company Name</label>
                                        <input type="text" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Address</label>
                                        <input type="text" placeholder="Address Line 1">
                                        <input type="text" placeholder="Address Line 2">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Country</label>
                                        <select>
                                            <option value="">Bangedesh</option>
                                            <option value="">India</option>
                                            <option value="">Pakistan</option>
                                            <option value="">Nepal</option>
                                            <option value="">China</option>
                                            <option value="">Japan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Town/City*</label>
                                        <input type="text" placeholder="Town/City">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>State*</label>
                                        <input type="text" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Zip Code*</label>
                                        <input type="text" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="checkout-total-wrapper mt-30">
                    <h4 class="allup-title">Cart Total</h4>
                    <div class="checkout-total mt-30">
                        <h4 class="title">Product  <span>Total</span></h4>
                        <ul>
                            <li>
                                <p class="total-value">Cillum dolore tortor nisl X 01</p>
                                <p class="total-amount">€25.00</p>
                            </li>
                            <li>
                                <p class="total-value">Auctor gravida pellentesque X 02</p>
                                <p class="total-amount">€50.00</p>
                            </li>
                            <li>
                                <p class="total-value">Condimentum posuere consectetur X 01</p>
                                <p class="total-amount">€29.00</p>
                            </li>
                            <li>
                                <p class="total-value">Habitasse dictumst elementum X 01</p>
                                <p class="total-amount">€10.00</p>
                            </li>
                        </ul>
                        <div class="checkout-total-sub">
                            <p class="total-value">Sub Total</p>
                            <p class="total-amount">€104.00</p>
                        </div>
                        <div class="checkout-total-sub">
                            <p class="total-value">Shipping Fee </p>
                            <p class="total-amount">€00.00</p>
                        </div>
                        <h4 class="title mt-15">Product  <span>€104.00</span></h4>
                    </div>
                </div>

                <div class="checkout-payment-wrapper mt-30">
                    <h4 class="allup-title">Payment Method</h4>
                    <div class="checkout-payment mt-30">
                        <ul>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="check" checked="checked">
                                        <label for="check"><span></span> Check Payment</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="bank">
                                        <label for="bank"><span></span> Direct Bank Transfer</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="cash">
                                        <label for="cash"><span></span> Cash on Delivery</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="paypal">
                                        <label for="paypal"><span></span> Paypal</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="payoneer">
                                        <label for="payoneer"><span></span> Payoneer</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="accept">
                                    <label for="accept"></label>
                                    <p>I’ve read and accept the terms & conditions</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="checkout-btn">
                    <a class="main-btn main-btn-2" >Place Order</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Checkout Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon1.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Free Shipping</h3>
                    <p>Free shipping on all US order</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon2.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Support 24/7</h3>
                    <p>Contact us 24 hours a day</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon3.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">100% Money Back</h3>
                    <p>You have 30 days to Return</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon4.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">90 Days Return</h3>
                    <p>If goods have problems</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon5.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Payment Secure</h3>
                    <p>We ensure secure payment</p>
                </div>
            </div> <!-- single features banner -->
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->