@{
    ViewData["Title"] = "Index";
}


<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Compare</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Compare Part Start ======-->

<section class="compare-page pt-10">
    <div class="container-fluid custom-container">
        <div class="compare-table table-responsive mt-30">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Product</th>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image"><img src="~/assets/images/product/product-1.jpg" alt="product"></a>
                                <a class="category">camera</a>
                                <h5 class="title"><a>New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image"><img src="~/assets/images/product/product-2.jpg" alt="product"></a>
                                <a class="category">camera</a>
                                <h5 class="title"><a>New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image"><img src="~/assets/images/product/product-3.jpg" alt="product"></a>
                                <a class="category">camera</a>
                                <h5 class="title"><a>New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>$29</td>
                        <td>$27</td>
                        <td>$39</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>Yellow</td>
                        <td>White</td>
                        <td>Green</td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td>In Stock</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                    </tr>
                    <tr>
                        <th>Add to cart</th>
                        <td><a class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                        <td><a class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                        <td><a class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                    </tr>
                    <tr>
                        <th>Delete</th>
                        <td><a class="delete"><i class="far fa-trash-alt"></i></a></td>
                        <td><a class="delete"><i class="far fa-trash-alt"></i></a></td>
                        <td><a class="delete"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!--====== Compare Part Ends ======-->
