
@{
    ViewData["Title"] = "Index";
}


<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Compare</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Compare Part Start ======-->

<section class="compare-page pt-10">
    <div class="container-fluid custom-container">
        <div class="compare-table table-responsive mt-30">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Product</th>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image" ><img src="~/assets/images/product/product-1.jpg" alt="product"></a>
                                <a  class="category">camera</a>
                                <h5 class="title"><a >New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image" ><img src="~/assets/images/product/product-2.jpg" alt="product"></a>
                                <a  class="category">camera</a>
                                <h5 class="title"><a >New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                        <td>
                            <div class="product-image-title">
                                <a class="product-image" ><img src="~/assets/images/product/product-3.jpg" alt="product"></a>
                                <a  class="category">camera</a>
                                <h5 class="title"><a >New Balance Fresh Foam LAZR v1 Sport eu accumsan massa facilisis</a></h5>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                        <td>
                            <div class="description">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veritatis culpa asperiores fugit omnis ducimus ullam facilis magnam quo vitae.</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>$29</td>
                        <td>$27</td>
                        <td>$39</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>Yellow</td>
                        <td>White</td>
                        <td>Green</td>
                    </tr>
                    <tr>
                        <th>Stock</th>
                        <td>In Stock</td>
                        <td>In Stock</td>
                        <td>In Stock</td>
                    </tr>
                    <tr>
                        <th>Add to cart</th>
                        <td><a  class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                        <td><a  class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                        <td><a  class="main-btn main-btn-2"><i class="far fa-shopping-cart"></i> Add to Cart</a></td>
                    </tr>
                    <tr>
                        <th>Delete</th>
                        <td><a class="delete" ><i class="far fa-trash-alt"></i></a></td>
                        <td><a class="delete" ><i class="far fa-trash-alt"></i></a></td>
                        <td><a class="delete" ><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="rating">
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class="rating-on"><i class="fas fa-star"></i></li>
                                <li class=""><i class="fas fa-star"></i></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!--====== Compare Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a >
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon1.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Free Shipping</h3>
                    <p>Free shipping on all US order</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon2.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Support 24/7</h3>
                    <p>Contact us 24 hours a day</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon3.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">100% Money Back</h3>
                    <p>You have 30 days to Return</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon4.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">90 Days Return</h3>
                    <p>If goods have problems</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon5.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Payment Secure</h3>
                    <p>We ensure secure payment</p>
                </div>
            </div> <!-- single features banner -->
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->