@model List<BrandSlider>

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            @foreach (BrandSlider brandSlider in Model)
            {
                <div class="col-lg-2">
                    <div class="single-brand">
                        <a>
                            <img src="~/assets/images/brand/@brandSlider.Image" alt="brand">
                        </a>
                    </div> <!-- single brand -->
                </div>
            }
        </div> <!-- row -->
    </div> <!-- container -->
</div>
