@using Allup.Interfaces
@inject ILayoutService layoutService

@{ List<BasketViewModel> basketVMs = await layoutService.GetBasket();
    IDictionary<string, string> settings = await layoutService.GetSetting();
    List<BrandSlider> brandSliders = await layoutService.GetBrandSlider();
    List<Testimonial> testimonials = await layoutService.GetTestimonial();
    List<Feature> features = await layoutService.GetFeature();
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Allup - Electronics Responsive eCommerce HTML Template.</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="~/assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css"> -->

    <style>
        @@media only screen and (max-width: 993px) {
            .webelement {
                display: none !important;
            }

            .mobileelement {
                display: block !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .webelement {
                display: block !important;
            }

            .mobileelement {
                display: none !important;
            }
        }
    </style>

</head>
<body>

    <!--====== PRELOADER PART START ======-->
    @*<div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>*@

    <!--====== PRELOADER PART ENDS ======-->
    <!--====== Header Part Start ======-->

    @await Component.InvokeAsync("Header", settings)

    <!--====== Header Part Ends ======-->

    @RenderBody()

    <!--====== BrandSlider Part Start ======-->

    @await Component.InvokeAsync("BrandSlider", brandSliders)

    <!--====== BrandSlider Part End ======-->
    <!--====== Features Banner Part Start ======-->

    @await Component.InvokeAsync("Feature", features)

    <!--====== Features Banner Part End ======-->
    <!--====== Testimonial Part Start ======-->

    @await Component.InvokeAsync("Testimonial", testimonials)

    <!--====== Testimonial Part Ends ======-->
    <!--====== Newsletter Part Start ====== -->

    @await Component.InvokeAsync("NewsLetter", settings)

    <!--====== Newsletter Part Ends ======-->
    <!--====== Footer Part Start ======-->

    @await Component.InvokeAsync("Footer", settings)

    <!--====== Footer Part Ends ======-->
    <!--====== Quick View Part Start ======-->
    <!-- Modal -->

    <div class="modal fade " id="productQuickModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

            </div> <!-- Modal content -->
        </div> <!-- Modal dialog -->
    </div>

    <!-- Modal -->
    <!--====== Quick View Part Ends ======-->
    <!--====== BACK TOP TOP PART START ======-->

    <a class="back-to-top"><i class="ion-android-arrow-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== Vendors js ======-->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>

    <!--Moy javascript dla modal-->
    <script src="~/assets/js/Custom.js" asp-append-version="true"></script>
    @RenderSection("Script", false)

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="~/assets/js/plugins.min.js"></script> -->
    <!--====== Main Activation js ======-->
    <script src="~/assets/js/main.js"></script>

</body>
<!-- Mirrored from demo.hasthemes.com/allup/allup/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Sep 2020 10:47:16 GMT -->
</html>
