@model List<Product>

@foreach (Product product in Model)
{
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" target="_blank">
            <img src="assets/images/product/@product.MainImage" style="width:80px">
        </a>

        @product.ProductName

        <p class="text-danger px-3">
            €@(product.DiscountPrice > 0 ? product.DiscountPrice : product.Price)
        </p>

    </li>
}
