@model Product

@{ SelectList selectCategoriesItems = new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name));
    SelectList selectBrandsItems = new SelectList(ViewBag.BrandsForProducts, nameof(Brand.Id), nameof(Brand.BrandName)); }

<h1>Create</h1>

<div class="my-3 row justify-content-center">
    <div class="col-lg-11">
        <form class="row justify-content-between" method="post" enctype="multipart/form-data">
            <div class="col-lg-12  form-group">
                <label asp-for="ProductName" class="form-label"> Product Name</label>
                <input asp-for="ProductName" class="form-control">
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="col-lg-6 pr-2 form-group">
                <label class="form-label" asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="@selectCategoriesItems">
                    <option value="">Select Category</option>
                </select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            <div class="col-lg-6 pl-2 form-group">
                <label class="form-label" asp-for="BrandId">Brand</label>
                <select asp-for="BrandId" class="form-control" asp-items="@selectBrandsItems">
                    <option value="">Select Brand</option>
                </select>
                <span class="text-danger" asp-validation-for="BrandId"></span>
            </div>
            <div class="col-lg-6 pr-2 mb-3 form-group">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="col-lg-6 pl-2 mb-3 form-group">
                <label asp-for="DiscountPrice" class="form-label">Discount Price</label>
                <input asp-for="DiscountPrice" class="form-control">
                <span class="text-danger" asp-validation-for="DiscountPrice"></span>
            </div>
            <div class="col-lg-6 pr-2 mb-3 form-group">
                <label asp-for="ExTax" class="form-label"></label>
                <input asp-for="ExTax" class="form-control">
                <span class="text-danger" asp-validation-for="ExTax"></span>
            </div>
            <div class="col-lg-6 pl-2 mb-3 form-group">
                <label asp-for="Count" class="form-label"></label>
                <input asp-for="Count" class="form-control">
                <span class="text-danger" asp-validation-for="Count"></span>
            </div>
            <div class="col-lg-12  mb-3 form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="col-lg-12 row">
                <p class="col-lg-12">Inputs below are for tab content at home page of your website. Each product that you add will appear as New Product</p>
                <div class="col-lg-3 ml-3 form-check">
                    <input asp-for="IsBestSeller" class="form-check-input isMaininput">
                    <label asp-for="IsBestSeller" class="form-check-label">Is it best seller?</label>
                </div>
                <div class="col-lg-3 ml-3 form-check mb-3">
                    <input asp-for="IsFeature" class="form-check-input isMaininput">
                    <label asp-for="IsFeature" class="form-check-label">Is it featured product?</label>
                </div>
            </div>
            <div class="col-lg-12  mb-3 form-group">
                <p>First and second selected images will be Main and Hovered image respectively. Others will be the slider images in product's detail page.</p>
                <label class="col-form-label">Select Multiple Files</label>
                <input asp-for="Files" accept="image/jpeg" multiple class="form-control">
                <span class="text-danger" asp-validation-for="Files"></span>
            </div>
            <button type="submit" class="ml-2 btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section Script
{
    <partial name="_ValidationPartial">
}
