@model List<BrandSlider>
@{
    ViewData["Title"] = "Index";
}

<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Login</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Login Part Start ======-->

<section class="login-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Login to Your Account</h4>
                    <form action="#">
                        <div class="single-form">
                            <input type="text" placeholder="Username or email *">
                        </div>
                        <div class="single-form">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="custom-checkbox mt-30">
                            <input type="checkbox" id="account">
                            <label for="account"></label>
                            <p>Remember me</p>
                        </div>
                        <div class="single-form">
                            <button class="main-btn main-btn-2">Login</button>
                        </div>
                    </form>
                    <p class="mt-20"><a>Lost your password?</a></p>
                    <p class="mt-10">No account? <a asp-controller="Register" asp-action="Index">Create one here.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Part Ends ======-->


@await Component.InvokeAsync("BrandSlider", Model)
