@model Category
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class=" row justify-content-center">
    <div class="col-lg-10">
        <form method="post">
            <div class="form-check px-0">
                <label asp-for="IsMain" class="form-check-label">Main Category</label>
                <input style="margin-left: 5px" asp-for="IsMain" class="form-check-input isMaininput">
            </div>
            <div class="mb-3 form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3 form-group imagecontainer">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control">
                <span class="text-danger" asp-validation-for="Image"></span>
            </div>
            <div class="form-group parentcontainer">
                <label asp-for="ParentId"></label>
                <select asp-for="ParentId" class="form-control" asp-items="new SelectList(ViewBag.MainCategories,nameof(Category.Id),nameof(Category.Name))"></select>
                <span class="text-danger" asp-validation-for="ParentId"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Category</button>
        </form>
    </div>
</div>

@section Script{
    <partial name="_ValidationPartial">
}
