@model List<ProductImage>

@foreach (ProductImage productImage in Model)
{
    <div class="col-lg-1">
        <a class="close deleteproductimage" asp-area="manage" asp-controller="product" asp-action="deleteimage" asp-route-id="@productImage.Id">
            <span>&times;</span>
        </a>
        <img class="img-fluid" src="~/assets/images/@productImage.Image">
    </div>
}