@model Car
@* niye list yazmadim? cunki list gelmir axi, find metodu bir deyer gaytarir, + men detallarin getirirem, bir mashinin *@

<ul>
    <li>Model Id: @Model.Id</li>
    <li>Model Name :@Model.Name</li>
    <li>Model Year: @Model.Year</li>
    <li> Model Engine Type: @Model.EngineType</li>
    <li>Model Brand: @Model.BrandId</li>
</ul>

