@model List<Car>

<ul>

    @foreach (Car item in Model)
    {
        <li>
            <a href=@("http://localhost:13453/Car/Detail/"+item.Id)>
                @item.Name
            </a>
        </li>
    }

</ul>